* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    outline: none;
}

body {
    /* background: red; */
}

form {
    width: 30%;
    margin: 10vh auto 0 auto;
    padding: 20px 50px;
    box-shadow: 0 0 1px 2px red;
}

.input-group {
    width: 100%;
    margin: 20px 0;
}

label {
    text-transform: uppercase;
    margin-bottom: 5px;
}

input {
    width: 100%;
    line-height: 45px;
    border: 0;
    border-bottom: 2px solid black;
    font-size: 30px;
    padding: 0 10px;
}

button {
    width: 100%;
    height: 45px;
    border: 1px solid black;
    background: black;
    color: white;
    font-size: 30px;
}

.text-center {
    text-align: center
}
